body{
  background-color: #457b9d;
}
main{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
}
.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container > input{
  width: 500px;
  height: 40px;
  margin: 10px 0px;
  border-radius: 10px;
  font-size: large;
}

.input-container > button{
  width: 40px;
  height: 40px;
  margin: 10px 0px;
  border-radius: 50%;
  background-color: rgb(233, 93, 93);
}

.container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  /* max-height: 100px; */
}

.todo{
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 600px;
  height: 50px;
  padding: 0px 20px;
  border-radius: 10px;
  margin: 5px 0px;
}

.actions > button{
  height: 30px;
  width: 60px;
  border-radius: 5px;
  background-color: rgb(234, 86, 86);
  margin: 0px 5px;
}

.actions .edit{
  background-color: rgb(57, 159, 57);
}

 /* .todo{
  width: 650px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo  .actions{
  display: flex;
  flex-direction: row;
} */

